.header {
  background-color: #225560;
  padding: 0.5rem;
  border-bottom: 2px solid #edf060;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo-section {
  text-align: center;
}

.logo {
  height: 18px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.user-info {
  color: #edf060;
}

.user-info a {
  color: #edf060;
  text-decoration: none;
}

.user-info a:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .logo {
    height: 70px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 35px;
  }
}
