.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #225560;
}


.logo {
    max-height: 30px;
    max-width: 30px;
}
   


.user-info {
    color: #EDF060;
}

.user-info a {
    color: #EDF060;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .logo {
        height: 50px;
    }
}